<p>Olá {{ name }},</p>

<p>
  Detectamos que você modificou sua senha no sistema. Caso não tenha sido você, clique no link abaixo para reportar uma violação de segurança a nossa equipe de suporte:
</p>

<p>
  <a href="mailto:{{ support_mail }}">Reportar Problema</a>
</p>